http:
  services:
    frontend:
      loadbalancer:
        servers:
          - url: "http://frontend:8084"
   
    backend:
      loadbalancer:
        servers:
          - url: "http://backend:3000"

    auth:
      loadbalancer:
        servers:
          - url: "http://auth:5000"

    license:
      loadbalancer:
        servers:
          - url: "http://license:2000"

    multitenancy:
      loadbalancer:
        servers:
          - url: "http://multitenancy:4000"
   
    backoffice:
      loadbalancer:
        servers:
          - url: "http://backoffice:8081"

