@tailwind base;
@tailwind components;
@tailwind utilities;

$h: 2rem;

.pagination {
  @apply bg-light dark:bg-primary-dark flex border dark:border-primary-darker rounded overflow-hidden;
  & > * {
    @apply px-2 flex justify-center items-center border-r dark:border-primary-darker;
    height: $h;
  }
  & > button {
    @apply transition-colors;
    &:hover {
      @apply bg-dark/5 dark:bg-light/10;
    }
    &:active {
      @apply bg-dark/10 dark:bg-light/20;
    }
  }
  & > .active {
    @apply bg-primary text-white pointer-events-none;
  }
}

.select-page {
  @apply min-w-[4rem];
  height: $h;
}
